@charset "utf-8";

$text: #000;
$text-strong: #000;
$family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
$gap: 32px;
$desktop: 768px + (2 * $gap);
$widescreen-enabled: false;
$fullhd-enabled: false;
$navbar-item-img-max-height: 40px;
$navbar-height: 5.5rem;
$footer-background-color: false;
$footer-padding: 3rem 0;
@import "~bulma/bulma";

@import "~bulma-o-steps/bulma-steps";

@import "flatpickr";

.navbar-brand {
	margin-left: 0.5rem;
}

.navbar-menu {
	padding-right: 0.5rem;
}

.navbar-menu.is-active {
	text-align: right;

	.navbar-item {
		font-size: 150%;
	}
}

.navbar-brand img {
	margin-right: 0.75rem;
}

.navbar-item {
	font-weight: bold;
}

.button.is-link {
	padding-top: 0.3em;
}
