<h2>Notice from <%= @invitation.agency.name %></h2>

<p>Hello <%= @invitation.contact.name %>,</p>

<p>
  We are sorry to inform you that you have tested positive for COVID-19. We ask that you <b>please self-isolate for at least the next 7 days</b>, or until 3 days after your symptoms have completely resolved, whichever is longer. If your symptoms get worse, please call your primary care provider for advice before going to the hospital.
</p>

<p>
  To stop COVID-19, we are asking everyone infected to tell us about the people they have encountered recently. If we find everyone who might have COVID-19 before they transmit the infection to others, we can reduce infections and keep everyone safe. Please fill out the contact tracing questionnaire here:
</p>

<p>
  <%= link_to @survey_url, @survey_url %>
</p>
