<div class="content is-large">
  <h1>Automating Contact Tracing</h1>
</div>

<div class="content">
  <p>Were you sent here to take a survey? <%= link_to "Take your survey here.", respondents.sign_in_path %></p>
  <p>Work for a public health agency? <%= link_to "Sign up your agency here.", new_user_registration_path %></p>
</div>
