<h3 class="subtitle">Places you visited <i>other than work</i></h3>

<p>
In this portion of the survey we will ask you about locations you may have visited outside the home, separate from where you go to work. You will be prompted to enter details for each setting you list as a place you visited. It is sometimes easier to remember these events if you look at your calendar or receipts. If you have those available, we recommend referring to them as you answer these questions.
</p>

<p>
V0: This is a panel with radio buttons: The detailed questions listed below only pop up if you have selected an activity.
</p>

<p>
College, School and Daycare
Did you take children to school or daycare?
Do you attend a college, university, or other educational institution in person?
</p>

<p>
Recreation
Did you go to the gym or an exercise class, either indoors or outdoors?
Did you dine-in at a restaurant?
Did you socialize with friends?
Did you attend any large gatherings (>50 people) , such as rallies, concerts, or sports games?
</p>

<p>
Transit
Did you use public transportation such as the subway, buses, or street cars?
Did you travel anywhere by taxi or using a ride sharing service such as Lyft or Uber?
</p>

<p>
Religious and spiritual activities
Did you attend an in-person service at a place of worship?
Did you attend an in-person funeral? 
Did you attend any other spiritual or religious group gatherings (for example, a meditation group, a baptizing etc.)?
</p>

<p>
Receive any medical care at a clinic
Did you go to any type of healthcare setting, such as a doctor’s office, a hospital, a physiotherapy clinic, or a chiropractor?
</p>

<p>
Travel
Have you travelled recently? (Including international, out-of-state, inner-state, or extended local travel)
Have you stayed at a hotel, motel, hostel, or another similar lodging establishment? 
</p>


<p>
DETAILED QUESTIONS FOR EACH ACTIVITY (only pops up if the specific activity is selected).
</p>
<p>
College, Daycare, or school:

IF YES TO DAYCARE OR SCHOOL
Please indicate the number of daycares or schools that you dropped child(ren) off at:
Please provide which days you took your child(ren) to daycare or school.
Please provide the name and address, including city and town, of the daycare center or school:
Please provide the phone number for the daycare center or school:
While you were at the daycare or school, were you within 6 feet of another person for 10 minutes or more? Examples could be catching up with another parent or talking with a teacher or daycare worker. If so, please provide their name and telephone number if you know it.
</p>
<p>
IF YES TO College, University, educational institution: 
Please provide the name of institution:
Which days were you on campus?
Did you spend time in common areas (such as classrooms, libraries, laboratories, sporting rooms, gyms, etc.)
If yes: Please indicate which and provide any relevant location information. 
Please provide Name and Telephone number for anyone you had contact with on campus, where contact is defined as <contact definition>. Please do not include contacts previously identified in this survey.
</p>

<p>
Recreation:

If YES to gym or an exercise class: 

Did you go to an indoor place, such as a gym? If so please provide the name, address and phone number of the place you went, as well as the name and telephone numbers of contacts (people you were 6 feet or closer to for 15 minutes or longer) you did the activity with. 
Did you participate in outdoor recreation? If so please provide the name, address, and phone number of the place you went, as well as the name and telephone numbers of contacts (people you were 6 feet or closer to for 15 minutes or longer) you did the activity with. Please do not include contacts previously identified in this survey.
</p>
<p>
If YES to dine-in restaurant: 
Note to present to survey taker: “Please note that this includes only consuming food and beverage physically at the restaurant. Please do not count picking up food or take-out.”
During your infectious period <give range here>,  please indicate the number of times that you dined-in at a restaurant: 
For each restaurant, please provide the name, address, and phone number of the restaurant.
At each restaurant, did you dine with any other individuals? If so, please indicate the number of other people you had dinner in with:
For each person you had dinner with, please indicate their name and contact information. (This should autopopulate a question in the next section asking for info on each fellow diner.) Please do not include contacts previously identified in this survey.
</p>

<p>
If YES to socialize with friends:
Please state the purpose of the gathering: 
Where did the gathering occur?
Approximately how many people attended the gathering? (could have binned answers to click)
Please provide Name and Telephone number for anyone you had contact with, where contact is defined as <contact definition>. Please do not include contacts previously identified in this survey.
</p>
<p>
If YES to large gatherings (>50 people):
Please state the purpose of the gathering: 
Where did the gathering occur?
Approximately how many people attended the gathering? (could have binned answers to click)
Please provide Name and Telephone number for anyone you had contact with, where contact is defined as <contact definition>. Please do not include contacts previously identified in this survey.
</p>
Transit:
<p>
IF YES TO PUBLIC TRANSPORTATION
</p>
<p>
IF YES TO TAXI OR RIDESHARE
If you took a taxi, please give the Name and Contact Information of the driver. If you do not know this information, please provide the name of the taxi company, the time of day when you ordered the ride, as well as the pick-up and drop-off location. 

If you took Lyft or and Uber, please enter the name of your driver, as well as the date of the ride, the pick up and drop off locations, and the pick-up and drop-off times. This information should be available in the ride history section of the rideshare app. Kristin mentioned this but would be great if we can somehow have integration at some point with the rideshare apps such that notification process can move faster. Perhaps a V1 thing.

Did you share the ride with anyone else (other than the driver)? IF YES:
Please indicate the number of people other than you and the driver, who were in the care with you.
Please give the name, address, and contact information for each of these contacts. Please do not include contacts previously identified in this survey.
</p>
<p>
Religious and spiritual activities
IF YES TO in-person service in place of worship:
Please indicate the number of times that you visited a place of worship or engaged in a spiritual or religious activity in other individuals.
What dates did you attend in-person service?
Which place of worship did you visit? Please provide the address and name and phone number of a spiritual or organizational leader if available
Approximately how many people attended the gathering? (could have binned answers to click)
Please provide Name and Telephone number for anyone you had contact with, where contact is defined as <contact definition>. Please do not include contacts previously identified in this survey.
</p>
<p>
IF YES TO in-person funeral:
Please indicate the number of times that you attended an in-person funeral.
What dates did you attend?
Where was the funeral held? Please provide the address and name and phone number of a spiritual or organizational leader if available
Approximately how many people attended the funeral? (could have binned answers to click)
Please provide Name and Telephone number for anyone you had contact with, where contact is defined as <contact definition>. Please do not include contacts previously identified in this survey.
</p>
<p>
IF YES TO other in-person spiritual or religious group gatherings:
Please indicate the number of times that you attended an in-person spiritual or religious group gatherings not mentioned in previous question,
What dates did you attend?
Where were the gatherings held? Please provide the address and name and phone number of a spiritual or organizational leader if available
Approximately how many people attended the gathering? (could have binned answers to click)
Please provide Name and Telephone number for anyone you had contact with, where contact is defined as <contact definition>. Please do not include contacts previously identified in this survey.
</p>
<p>
IF YES to Medical Settings:
Please indicate the number of places that you went to receive  medical attention, including doctor’s offices, hospitals, health departments, or other clinics. Please do not include telemedicine appointments:
For each medical setting, please indicate the name, address, and phone number as well as the dates you visited on or during which you were hospitalized. Of note: if you went to a facility for COVID-19 test only, please do not the sites where you safely received drive-thru testing. (we likely would not consider it an exposure requiring tracing if the specimen was collected safely at a drive-thru facility).
</p>
Travel:
<p>
IF YES TO TRAVELLED RECENTLY
Please indicate the number of trips.
Was this travel international, out-of-state, inner-state, or extended local travel. Please select all that apply: Will have radio buttons
	International
Mode of transportation
</p>
<p>Airplane
Please input travel dates, airline, and flight number
Cruise ship
Please input travel dates, company, and room number
Train
Please input travel dates and train line
Bus
Please input travel dates and bus company
Personal Vehicle
Please input travel dates
	Within country but out-of-state
		Mode of transportation
Airplane
Please input travel dates, airline, and flight number
Cruise ship
Please input travel dates, company, and room number
Train
Please input travel dates and train line
Bus
Please input travel dates and bus company
Personal Vehicle
Please input travel dates
	Within-country and within-state
		Mode of transportation
Airplane
Please input travel dates, airline, and flight number
Cruise ship
Please input travel dates, company, and room number
Train
Please input travel dates and train line
Bus
Please input travel dates and bus company
Personal Vehicle
Please input travel dates
</p>	
<p>
IF YES TO MOTEL/HOTEL/HOSTEL/LODGING
Please indicate the number of different hotels/motels/hostels or other lodging that you stayed at.
Please provide dates of stay: 
Please provide the name of the hotel/motel/hostel:
Please provide the telephone number of the front desk:
Please provide the room number that you stayed in:
</p>
<p>
Additional Design Q’s?
What do we want to do about visits to retail locations, such as grocery stores, the post office, gas stations, clothing stores, or malls? Just ski?
</p>
<p>If Health care setting, such as a doctor’s office or a hospital
What type of clinic did you visit? Multiple choice: Doctor’s office, urgent care clinic, hospital, physiotherapist, chiropractor, naturopath, dentist, other (specify)
Which day and time did you arrive?: <use calendar and clock clicky thing>
Which day and time did you leave?: <use calendar and clock clicky thing>
</p>


<p>
  <%= link_to "Next step", response_step_path(params[:step].to_i + 1), class: "button is-link" %>
</p>
