<h3 class="subtitle">Other close contacts</h3>

<p>
  Are there any additional individuals whom you remember having close contact with, which you have not reported in the previous sections? These are individuals with whom you were within 6 feet of for at least 5 minutes. If so, please select the number of additional contacts you wish to report, and give their name, address, telephone number, email, and the date that you had contact with them.
</p>

<p>
  Any additional contacts that you can recall but that you have not reported in other portions of this questionnaire? (IE contacts that you don’t necessarily have tied to a setting).
  Please provide contact name
  Please provide contact’s telephone numbe
</p>


<p>
  <%= link_to "Complete survey", response_thank_you_path, class: "button is-primary" %>
</p>
