<h1>New Survey Invitation</h1>

<div class="columns">
  <div class="column">

    <%= form_with(model: [:agency, @survey_invitation], local: true) do |form| %>
      <%= render 'form', survey_invitation: @survey_invitation, form: form %>

      <div class="field is-grouped">
        <div class="control">
          <%= form.submit "Report and send survey invitation", class: "button is-link" %>
        </div>
        <div class="control">
          <%= link_to "Cancel", agency_survey_invitations_path, class: "button is-link is-light" %>
        </div>
      </div>
    <% end %>

  </div>
  <div class="column"></div>
</div>
