<h3 class="subtitle">Contacts at work</h3>

<p>
  In this section we will ask you about the type of work you do, and the close contacts you may have had with people while at work. We define a close contact at work as anyone with whom you were in an enclosed space, and within 6 feet of each other for 30 (or 5, depending on jurisdiction) minutes or more. If there are people that you reported as household contacts who were also close contacts at work, you do not need to add their information again.
</p>

<p>
  Question 1: Do you work in any of the following settings?
</p>

<p>
  Health care
  Emergency services
  Correctional facilities
  Assisted living facilities or nursing homes
  None of the above
</p>

<p>
  The goal of the above question is to distinguish between essential/non-essential personnel, which is of high importance for CHD. The idea would be that answering positively to any of the above “essential” occupations would trigger an alternative subset of questions specifically related to capturing contacts in those high exposure settings.
</p>

<p>
  IF YES to any of the above:
</p>
<p>
  Please provide your dates of works, the name and address of your place of work, well as the name and phone number of your staffing director.
</p>

<p>
  Additionally: IF YES to Healthcare OR Emergency Services:
</p>

<p>
  Did you have prolonged face-to-face contact with a confirmed case of COVID-19 while in a health care setting? 
</p>

<p>
  If YES
</p>

<p>
  Please record the date of the exposure
</p>

<p>
  What type of personal protective equipment did you use? (Check all that apply)
</p>

<p>
  Gown 
  Gloves 
  Eye protection
  surgical/medical mask
  N95 mask
  Were you present while an aerosol-generating procedure took place?
  If YES
  Please record the date of the procedure
  What type of personal protective equipment did you use? (Check all that apply)
  Gown 
  Gloves 
  Eye protection
  surgical/medical mask
  N95 mask
</p>

<p>
  IF NONE OF THE ABOVE:
  Question 2: From <autofill date range for infectious period>, did you go to work outside of your home?
</p>

<p>
  IF YES:
  Please provide the name and address of your place of work, well as the name and phone number of your staffing director.
</p>

<p>
  Please provide close contacts you had at work. These include people you work within 6 feet of, people who you had meetings with, or people you socialized with on breaks. For each individual who you were within 6 feet of for at least 30 minutes, please provide their name and telephone number.
</p>

<p>
  <%= link_to "Next step", survey_step_path(params[:step].to_i + 1), class: "button is-link" %>
</p>
