<h2 class="title">Thank you</h2>
<h3 class="subtitle is-5"><%= @organization.name %></h3>

<p>
  Thank you very much for participating in this survey. Your responses to this survey will help us track the spread of the virus from person to person and prevent others from getting sick.
</p>

<p>
  We will not give your contacts any information about you, nor will we tell them that we received their information from you. We will try to reach your contacts 3 times. In the event that we are unable to reach your contacts, their information will be deleted after 14 days.
</p>

<p>
  Right now, this is our best way to stop the transmission of COVID-19, and your participation helps us towards that goal.
</p>

<p>
  Sincerely,<br>
  <%= @organization.name %>
</p>
