<h2>Take contact tracing survey</h2>

<div class="columns">
  <div class="column">
    <div class="box">

      <%= form_for @session, url: send(Passwordless.mounted_as).sign_in_path do |f| %>
        <% email_field_name = :"passwordless[#{@email_field}]" %>

        <div class="field">
          <%= label_tag email_field_name, "Email address or phone number", class: "label" %>
          <div class="control">
            <%= text_field_tag email_field_name, params.fetch(email_field_name, nil), autofocus: true, autocomplete: "email", class: "input" %>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <%= f.submit I18n.t('passwordless.sessions.new.submit'), class: "button is-link" %>
          </div>
        </div>
      <% end %>

    </div>

  </div>
  <div class="column"></div>
</div>

