<% content_for :content do %>
  <div class="columns">
    <div class="column">
      <div class="box">
        <%= yield %>
      </div>
    </div>
    <div class="column"></div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
